<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">

    <title>Prediccion</title>
</head>
<body style="
 background: linear-gradient(to bottom,
     rgba(0,235,255,0.5),
     rgba(145,240,253,0.4),
     rgba(113,113,113,0.4),
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5));
     background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom:2em;
    background-repeat: no-repeat;
	background-size: cover;

">

<div class="container" style="margin-left: 23em; padding-top: 13em;">

    <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
        <!-- Card -->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
          <!--      <img class="card-img-top" src="{{img}}">-->

                <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <h1>Resultado {{ porcentaje }} %</h1>
        <h2>La imagen ingresada es una :  {{ flower }}</h2>
                <h3>{{ img }}</h3>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                <a class="btn btn-light-blue btn-md" href="index.html">Regresar</a>

            </div>

        </div>
        <!-- Card -->
  </div>


</div>










<!--

<div style="float: center;   padding: 35px 0px 0px 80px; ">

        <h1>Resultado {{ porcentaje }} %</h1>
        <h2>La imagen ingresada es una :  {{ fruta }}</h2>
        <br>

        <br><br>
        <a style="color: blue; font-size: 40px" href="frutas.html">Regresar</a>

    </div>

</div>
-->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>

</body>
</html>